<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <center>
        <h1>Sample HTML forms</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="name">Enter Name</label>
            <input type="text" name="name" id="name">
            
            <label for="email">Enter Email id</label>
            <input type="email" name="email" id="email">

            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>